{% extends 'cats/base.html' %}
{% load static %}
{% block header %}
<style type="text/css">
    .itemimg-item{width:25%; float:left; display:block; list-style:none;}
    .itemimg-item img{max-width:100%;max-height:168px;display:block; margin-left:auto; margin-right:auto; padding:4px;border-radius:5px;border:1px solid #333;box-shadow:0 0 5px 0px #333;}
    .grid__link {position: relative;}
    .grid__img__desc{display:none; padding: 0 10px; width:100%; top:0; left:0; position: absolute; line-height: 36px; font-size:16px; background-color: rgba(6,6,6,.35); color: #FFFFFF;
        white-space: nowrap; text-overflow: ellipsis ; overflow: hidden;
    }
    .grid__img__status{display:none; width:100%; bottom:0; left:0; padding:0 8px; position: absolute; line-height: 28px; background-color: rgba(6,6,6,.5); color: #FFFFFF; text-align: right}
    .grid__link:hover .grid__img__desc{display: block}
    .grid__link:hover .grid__img__status{display: block}
    .img-star {float:left; line-height:28px; text-align:left; position: relative; left:0;}
    .img-star .stars-bg{color: #f0ad4e; display: inline-block;}
    .img-star .stars-rank{position:absolute; left:0;top:0; width:0; overflow: hidden;text-overflow: clip;white-space: nowrap; color:#f0ad4e;}
    .img-like.liked{color: #4cae4c;}
</style>
<link rel="stylesheet" type="text/css" href="{% static 'cats/css/demo.css' %}" />
<script>document.documentElement.className = 'js';</script>
{% endblock header %}

{% block content %}
    <h2 class="page-header">Dapianzi hates cats</h2>
    <div class="guide-wrap">
        {% if imgs %}
        <div class="grid">
            <div class="grid__sizer"></div>
            {% for img in imgs %}
            <div class="grid__item" data-id="{{ img.id }}">
                <a class="grid__link" href="javascript:void(0);" title="{{ img.img_desc }}">
                    <img class="grid__img" src="{{ img.img_from }}" alt="{{ img.img_desc }}" />
                    <div class="grid__img__desc" style=" ">
                        <span>{{ img.img_desc }}</span>
                    </div>
                    <div class="grid__img__status">
                        <div class="img-star">
                            <div class="stars-bg">
                                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                            </div>
                            <div class="stars-rank" style="width:{% widthratio img.n_star 1 20 %}%;">
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                            </div>
                        </div>
                        <span class="img-like"><i class="glyphicon glyphicon-thumbs-up" style="vertical-align: text-top"></i> <span class="n-likes">{{ img.n_likes }}</span></span>
                        <span class="img-comment"><i class="glyphicon glyphicon-comment" style="vertical-align: text-top"></i> <span class="n-comments">{{ img.n_comments }}</span></span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No pics are available.</p>
        {% endif %}
    </div>
{% endblock content %}

{% block js %}
<script src="{% static 'cats/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'cats/js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'cats/js/anime.min.js' %}"></script>
<script src="{% static 'cats/js/main.js' %}"></script>
<script type="text/javascript">
    var js_img = {
        get_img_id: function($o) {
            return $o.parents('.grid__item').data('id');
        },
        like: function($o){
            if ($o.hasClass('liked')) {
                return false;
            }
            var self = this;
            var img_id = self.get_img_id($o);
            js_comm.ajax('/pics/likes', 'id='+img_id, function(res){
                var i = $o.addClass('liked').find('.n-likes');
                i.html(1 + parseInt(i.html()));
            });
        },
        comment: function($o){
            var self = this;
            var img_id = self.get_img_id($o);
            js_comm.load_modal('/pics/comment?id='+img_id, function(){
                $('#ajax-comment').on('click', function(res){
                    // renew csrf token
                    console.log('success');
                });
            });
        },
        save_comment: function($o){

        }
    }
    $(function(){
        $('.grid__item').on('click','.img-like',function(e){
            js_img.like($(this));
        }).on('click','.img-comment',function(e){
            js_img.comment($(this));
        })
    });

</script>

{% endblock js %}
