{% extends 'cats/base.html' %}
{% load static %}
{% block header %}
<style type="text/css">
    #result-item.loading::after{
        content:'loading...'; color:#890729; line-height:20px; display:block;width:100%;height:20px;text-align:center;
    }
    .itme-link{max-width:480px;display:block;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
</style>
{% endblock header %}

{% block content %}
    <h2 class="page-header">来搜点什么吧</h2>
    <div class="row">
        <div class="col-sm-3">
            <form class="" method="get" action="{% url 'spider:home' %}">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon1">搜索类型</span>
                        <select class="form-control" name="type" id="type">
                            {% for type in types %}
                            <option value="{{ type.id }}" {% if type.id == type_id %} selected="selected"{% endif %}>{{ type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    {% if err_msg %}
                    <label class="control-label text-danger" for="keyword">{{ err_msg }}</label>
                    {% endif %}
                    <div class="input-group">
                        <input type="text" class="form-control" name="keyword" id="keyword"
                           placeholder="搜点什么吧.." value="{{ keyword }}" />
                        <div class="input-group-btn" >
                            <button type="submit" class="btn btn-primary">开始</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-9 list-group" id="result-item">
            {% if not get_result %}
            <div class="list-group-item list-group-item-info" >没有查询到任何结果</div>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block js %}
<script src="{% static 'cats/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'cats/js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'cats/js/anime.min.js' %}"></script>
<!--<script src="{% static 'cats/js/main.js' %}"></script>-->
<script type="text/javascript">
    var js_index = {
        render_imgs: function(){
            return 'imgs';
        },
        render_default: function(list){
            var _html = '';
            for (var i in list) {
                //_html += '<div class="panel panel-info"><div class="panel-heading"><div class="panel-title">'+list[0][0].name+'</div></div><div class="panel-body"><table class="table"><tbody>';
                for (var j in list[i]) {
                    _html += '<a class="list-group-item list-group-item-info" href="'+list[i][j].download_url+'">'+list[i][j].name+'</a>';
                }
                //_html += '</tbody></table></div></div>';
            }
            return _html;
        },
        get_result: function(q, t, i){
            js_comm.ajax('{% url 'spider:get' %}', 'keyword='+q+'&type='+t+'&idx='+i, function(res){
                var content = res.content;
                if (content.counts > 0) {
                    switch (t) {
                        case '1':
                            _html = js_index.render_imgs(content.result)
                            break;
                        default:
                            _html = js_index.render_default(content.result)
                    }
                    $('#result-item').append(_html);
                }
                if (content.status!=1 || content.counts!=0) {
                    window.setTimeout(function(){js_index.get_result(q,t,content.idx);}, 1000);
                } else {
                    $('#result-item').append('<div class="alert alert-success">以上是本次搜索的全部内容。</div>');
                }
            }, function(res){
                $('#result-item').append('<div class="alert alert-warning" role="alert">没有任何结果</div>');
            });
        }
    }
    $(function(){
        js_index.get_result('{{keyword}}','{{type_id}}',0);
    });
</script>
{% endblock js %}
